<section class="dec-section">
    <div class="dec-section-decoration">
        <img class="decoration" src = "./assets/svg/section-top.svg"/>
        <img class="decoration-md" src = "./assets/svg/dec-section-top-pc.svg"/>
    </div>
    <div class="dec-section-content">
        <h2 class="dec-h2">
            Visit the Philippines, Discover & Experience!
        </h2>
    </div>
    <div class="dec-section-decoration">
        <img class="decoration" src="./assets/svg/section-bottom.svg">
        <img class="decoration-md" src="./assets/svg/dec-section-bottom-primary-pc.svg">
    </div>
</section>