<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="./assets/img/logo-footer.png" alt="Logo"/>
        </div>
        <div class="links">
            <ul class="link-list">
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Statement</a></li>
            </ul>
        </div>
        <div class="links">
            <ul class="link-list">
                <li><a href="#">News Letter</a></li>
                <li><a href="#">Advertise with Us</a></li>
                <li><a href="#">Help/FAQ</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>
        <div class="footer-sponsors">
            <img src="./assets/img/Travel and Tourism.png" alt="Logo"/>
            <img src="./assets/img/Travel Index.png" alt="Logo"/>
        </div>
    </div>
</footer>