<section>
    <div class="hero hero-xl-background">
        <div class="hero-image-container">
            <img class="hero-image" src="./assets/img/hero-mobile.png" alt="Image of a Kalesa in vigan">
        </div>
        <div class="hero-content">
            <h2 class="hero-header--secondary">Welcome to the</h2>
            <h1 class="hero-header">PHILIPPINES</h1>
            <button class="button">
                Explore and Experience
            </button>
        </div>
    </div>
</section>