<section>
    <div class="section-info">
        <img class="featured-img" src="./assets/img/philippine-islands.jpg" alt="">
        <p class="text-body">
            <b>Visit the Philippines</b> and discover a country of over 7,000 islands.  The Philippines is a country of friendly people and contrasts; from megacities to deserted white sandy beaches, from emerald rice fields to active volcanoes, and landmarks from colonial forts to ultra-modern shopping malls.
            <br/>
            <br/>
            The Philippines is famous not only for its beaches and world-class diving sites but offers excellent big game fishing, great golf courses or one can simply enjoy island hopping.
        </p>
    </div>
    <div class="dec-section-decoration">
        <img class="decoration-md" src="./assets/svg//dec-section-bottom-pc.svg">
    </div>
</section>