<header>
    <nav class="nav collapsible">
        <a class="nav__brand" href="/">
            <img src="./assets/img/logo-nav.png" alt="Logo"/>
        </a>
        <img class="icon icon--white nav__toggler"src="./assets/icons/menu.svg" alt="">
        <ul class="list nav__list collapsible__content">
            <li class="nav__item"><a href="#">Sights</a></li>
            <li class="nav__item"><a href="#">Country Guidelines</a></li>
            <li class="nav__item"><a href="#">Tourism</a></li>
            <li class="nav__item"><a href="#">Book a Trip</a></li>
        </ul>
    </nav>
</header>