@import "./globals.css";

.button {
    background-color: var(--accent-color);
    border: none;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 15px 20px 15px;
    transition-duration: .3s;
    width: 280px;
}

.button:hover {
    color: #282828;  
    background-color: var(--secondary-color);
}