/* Mobile */
@import "./globals.css";

.dec-section{
    display: flex;
    flex-direction: column;
}
.dec-section-decoration .decoration {
    width: 100%;
    display: block;
    z-index: 5;
    margin-top: -1px;
    margin-bottom: -1px;
}
.dec-section-decoration .decoration-md {
    width: 100%;
    display: none;
    z-index: 5;
    margin-top: -1px;
    margin-bottom: -1px;
}
.dec-section-content {
    display: flex;
    padding: 30px 30px 30px 30px;
    align-content: center;
    justify-content: center;
    background-color: var(--secondary-color);
    text-align: center;
    z-index: 5;
}
.dec-section-decoration {
    width: 105%;    
    line-height: 0;
    z-index: 5;
    margin-left: -10px;
    margin-right: -10px;
}

/* For Tablets to PCs */

@media only screen and (min-width: 480px) {
    .dec-section-decoration .decoration {
        width: 100%;
        display: none;
    }
    .dec-section-decoration .decoration-md {
        width: 100%;
        display: block;
    }
    .dec-section-content {
        padding: 20px 50px 20px 50px;
    }
    .dec-h2 {
        font-size: 3rem;
    }
  }