@import "./globals.css";

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    color: #b7b7b7;
    padding: 30px 50px;
}

.footer-sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-sponsors img {
    margin: 15px 15px;
}

.link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding-top: 30px;
    padding-bottom: 30px;
}
.link-list a {
    color: #b7b7b7;
}

@media only screen and (min-width: 480px) {
    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 50px 50px;
    }
    .link-list {
        align-items: flex-start;
        padding: 0 0 0 0;
    }
}