@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Poppins:wght@400;700;800&display=swap');

:root {
    /* Text Colors */
    --default-text-color: #282828;

    /* Display Colors */
    --primary-color: #025eac;
    --secondary-color: #ffcf0b;
    --accent-color: #ed1a23;

    /* Overlay Colors */
    --hero-content-tint: rgba(0, 0, 0, .5);

    /* Global Font Variables */
    --global-font-size: 62.5%;
    --header-font: ;
    --h2-fs: 2.0rem;
    --body-fs: 1rem;
}

html {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    min-height: 100%;
}

h2 {
    font-size: var(--h2-fs);
    /* font-family: 'Poppins', sans-serif;  */
}

a {
    font-size: var(--body-fs);
    text-decoration: none;
}

p {
    font-size: var(--body-fs);
}