@import "./globals.css";

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.hero .hero-image {
    width: 100%;
}
.hero .hero-image-container {
    line-height: 0;
}
.hero-xl-background {
    background-color: white;
}

.hero .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    line-height: 1.24;
    padding: 50px 0px 50px;
    border-top: 5px solid var(--primary-color);
}
.hero-content .hero-header {
    font-family: Poppins, sans-serif;
    font-size: 4.3rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0 0 30px 0;
}
.hero-content .hero-header--secondary {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 2.2rem;
    margin: 0 0 0 0; 
}

@media only screen and (min-width: 480px) {
    .hero-xl-background {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 75vh;
        background-image: url("../img/hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero .hero-image {
        display: none;
    }
    .hero .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:initial;
        width: 50%;
        background-color: var(--hero-content-tint);
        color: white;
        border-top: 0px none var(--primary-color);
        padding: 0px 50px 0px;
    }

    .hero-content .hero-header {
        font-size: 5rem;
        color: white;
    }
    .hero-content .hero-header--secondary {
        font-size: 2.5rem;
    }
}