@import "./globals.css";
/* Collapsibles  */
.collapsible__header {
    display: flex;
    justify-content: space-between;
  }
  
  .collapsible__heading {   
    margin-top: 0;
    font-size: 1rem;
  }
  
  .collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
  
  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
  }
  
  .collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  /* Nabar  */
  .nav {
    align-items: center;
    background:white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
  }
  
  .nav__list {
    width: 100%;
    margin: 0;
  }
  
  .nav__item {
    padding: 0.5rem 1rem;
  }
  
  .nav__item:last-of-type {
    border-bottom: none;
  }
  
  .nav__item > a {
    color: #282828;
    transition: color .3s;
  }
  
  .nav__item > a:hover {
    color: var(--accent-color);
  }
  
  .nav__toggler {
    opacity: .5;
    transition: box-shadow .15s;
    cursor: pointer;
  }
  
  .nav.collapsible--expanded .nav__toggler {
    opacity: 1;
  }
  
  .nav__brand {
    transform: translateY(5px);
  }
  .nav__brand img {
    height: 50px;
    padding-bottom: .5rem;
  }
  
  @media screen and (min-width: 480px) {
    .nav {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media screen and (min-width: 768px) {
    .nav__toggler {
      display: none;
    }
  
    .nav__list {
      width: auto;
      display: flex;
      font-size: 1rem;
      max-height: 100%;
      opacity: 1;
    }
  
    .nav__item {
      border: 0;
    }
  }

  /* Lists  */
.list {
    list-style: none;
    padding-left: 0;
  }
  
  .list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
  }
  
  .list--tick {
    list-style-image: url(../img/tick.svg);
    padding-left: 3rem;
    color: var(--color-headings);
  }
  
  .list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
  }
  
  @media screen and (min-width: 1024px) {
    .list--tick .list__item {
      padding-left: 0;
    }
  }
  
  /* Icons  */
  .icon {
    width: 40px;
    height: 40px;
  }
  
  .icon--small {
    width: 30px;
    height: 30px;
  }
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--white {
    fill: #fff;
  }
  
  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container--primary {
    background: var(--color-primary);
    color: #fff;
  }
  
  .icon-container--accent {
    background: var(--color-accent);
  }
  
  /* Buttons  */
  .btn {
    border-radius: 40px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 4vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  .btn .icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
  }
  
  .btn--primary {
    background: var(--color-primary);
    color: #fff;
  }
  
  .btn--primary:hover {
    background: #3a8ffe;
  }
  
  .btn--secondary {
    background: var(--color-secondary);
    color: #fff;
  }
  
  .btn--secondary:hover {
    background: #00c8eb;
  }
  
  .btn--accent {
    background: var(--color-accent);
    color: #fff;
  }
  
  .btn--accent:hover {
    background: #ec3000;
  }
  
  .btn--block {
    width: 100%;
    display: inline-block;
  }
  
  .btn--outline {
    background: #fff;
    color: var(--color-headings);
  }
  
  .btn--outline:hover {
    background: var(--color-headings);
    color: #fff;
  }
  
  .btn--stretched {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  
  @media screen and (min-width: 1024px) {
    .btn {
      font-size: 1.5rem;
    }
  }
  
  /* Icons  */
  .icon {
    width: 40px !important;
    height: 40px !important;
  }
  
  .icon--small {
    width: 30px;
    height: 30px;
  }
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--white {
    fill: #fff;
  }
  
  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container--primary {
    background: var(--color-primary);
    color: #fff;
  }
  
  .icon-container--accent {
    background: var(--color-accent);
  }
  