@import "./globals.css";

.section-info {
    margin-top: -55px;
    z-index: 0;
}

.featured-img {
    width: 100%;
}

.text-body {
    margin: 30px 30px 30px 30px;
    line-height: 1.6;
}

@media only screen and (min-width: 480px) {
    .section-info {
        display: flex;
        align-items: center;
        margin: 0 0 0 0;
        z-index: 0;
        padding: 50px 50px;
    }
    .featured-img {
        width: 450px;
        margin-right: 50px;
        margin-left: -50px;
        margin-top: -100px;
        margin-bottom: -99px;
    }
}